@charset "UTF-8";

.marketTable {
	width: 800px;
	border: solid;
	border-width: inherit;
	text-align: center;
	align-content: center;
}

.marketTd {
	border-radius: 20px;
}

.marketKeyTd {
	border-radius: 20px;
	background-color: #FFE5CC;
	color: #990000;
}

.marketOneImg {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.marketListImgTd {
	width: 120px;
	height: 120px;
	border-radius: 20px;
}

.marketListImg {
	width: 120px;
	height: 120px;
	border-radius: 20px;
}

.partnerImg {
	display: block;
	margin: auto;
	width: 22px;
	height: 22px;
	border-radius: 20px;
	float: left;
	clear: both;
}

.partnerFont {
	font-size: 17px;
	background-color: #DCDCDC;
	text-align: left;
	float: left;
	border-radius: 10px;
	margin-left: 10px;
}

.partnerFont:before {
	content: '';
	margin-left: -6px;
	margin-top: 8px;
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid #DCDCDC;
	border-left: 7px solid transparent;
}

.partnerImgTextDiv {
	display: inline-block;
	text-align: left;
}

.partnerTime {
	font-size: 12px;
	color: gray;
	text-align: left;
	clear: both;
}

.myFont {
	font-size: 17px;
	background-color: #7FFFD4;
	text-align: right;
	float: right;
	border-radius: 10px;
	margin-right: 5px;
}

.myFont::after {
	content: '';
	margin-right: -5px;
	margin-top: 8px;
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 7px solid #7FFFD4;
	border-right: 7px solid transparent;
}

.myTime {
	font-size: 12px;
	color: gray;
	text-align: right;
	clear: both;
}

.pointButton {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #FFE1E1;
	appearance: none;
	padding: 5px 10px;
	border-radius: 10px;
	border-width: 1pt;
	border-color: gray;
	margin: auto;
	color: #990000;
	background-color: #FFE5CC;
}

.marketHomeDiv {
	width: 800px;
	text-align: center;
	margin: auto;
	padding-top: 50px;
}

textarea {
	border-radius: 10px;
	padding: 10px 30px;
}

.marketButton {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #FFE1E1;
	appearance: none;
	padding: 5px 10px;
	border-radius: 10px;
	border-width: 1pt;
	border-color: gray;
	margin: auto;
	color: #990000;
}

.marketDiv {
	border-radius: 20px;
}

form {
	margin: auto;
	align-content: center;
}

select {
	padding: 5px;
	border-radius: 10px;
}

input {
	padding: 5px;
	border-width: 1pt;
	border-radius: 10px;
}

.marketA {
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: inline-block;
}

#medicalHeader {
	width: 100%;
	height: 110px;
	border: 1px solid rgba(0, 0, 0, 0.07);
	position: fixed;
	background: rgb(255, 255, 255);
	z-index: 999999;
}

.medical-logo>img {
	width: 70px;
	position: absolute;
	margin-left: 20px;
}

.medical-menu-wrap {
	display: flex;
	margin-top: 40px;
}

.medical-menu-list>a:after {
	display: block;
	content: '';
	border-bottom: solid 1px rgba(0, 0, 0, 0.8);
	transform: scaleX(0);
	transition: transform 150ms ease-in-out;
}

.medical-menu-list>a:hover:after {
	transform: scaleX(0.7);
}

.medical-menu-item {
	color: rgb(0, 0, 0, 0.8);
	margin-left: 230px;
	font-family: 'Nanum Gothic', sans-serif;
}

.medical-login-btn {
	background-color: transparent;
	border: none;
	width: 78px;
	height: 23px;
	font-size: 17px;
	margin-left: 15px;
	cursor: pointer;
}

 a {
	text-decoration: none;
	display: inline-block;
}

ul {
	display: inline-block;
}

li {
	list-style: none;
	float: left;
	margin: 0 30px 0 0;
} 