@charset "UTF-8";

.missing_container {
	width: 1300px;
	height: 630px;
	margin: 0 auto;
	background: #E0E0E0;
	margin-top: 51px;
	border-radius: 10px;
}

.missing_header {
	display: flex;
	align-items: center;
	height: 115px;
	padding: 0 40px 0 40px;
}

.missing_header>span {
	margin-left: 210px;
	font-size: x-large;
	margin-right: 30px;
}

.missing_header>select {
	width: 105px;
	height: 36px;
	font-size: larger;
	margin-left: 20px;
	margin-right: 10px;
}

.searh_btn {
	width: 70px;
	height: 36px;
	font-size: large;
	font-weight: 600;
	border-radius: 25px;
}

.create_btn {
	margin-left: 225px;
	width: 100px;
	height: 36px;
	font-size: large;
	font-weight: 600;
	border-radius: 10px;
}

.list_border {
	width: 250px;
	height: 400px;
	border: 3px solid black;
	border-radius: 55px;
	background-color: whitesmoke;
	padding: 10px;
	margin: 0 13px;
	float: left;
	position: relative;
}

.pagenation {
	clear: both;
}

.img_wrap {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.missing_img {
	width: 210px;
	height: 200px;
	border-radius: 15px;
}

#result {
	margin-left: 48px;
	height: 450px;
}

.list_border>ul {
	width: 170px;
	margin: 0 auto;
	font-size: 17px;
	text-align: center;
}

.page_btn {
	cursor: pointer;
	width: 45px;
	height: 30px;
	font-size: 20px;
	border-radius: 30px;
}

.page_btnWrap {
	text-align: center;
}

.missing_infoList {
	margin-top: 14px;
}

.empty_list {
	text-align: center;
	font-size: 40px;
	margin-top: 175px;
}

.missing_infoList:first-child {
	font-weight: bolder;
}

.missingEnd_img {
	width: 100px;
	border-radius: 100%;
	position: absolute;
	right: 31px;
	top: 20px;
}